---
title: Nintendo Switch Collection
layout: base.njk
customcss: '/assets/css/games.css'
permalink: /games/switch/
---

<h1>Nintendo Switch Collection</h1>

<ul>
<li>Check back soon for updates!</li>
</ul>