---
title: "FFXIV Checklist"
layout: /layouts/ffBase.njk
customcss: "/assets/css/ffxiv/ffxiv-checklist.css"
permalink: /shrines/finalfantasyxiv/checklist/
intro: |
  <p>
    To do list for FFXIV! This is a personal checklist of things I want to work on in the game, and it updates automatically based on my Lodestone data. It’s not meant to be a comprehensive tracker of every single thing in the game, just a snapshot of what I’m currently focused on.
  </p>
---