---
title: "FFXIV Gil"
layout: /layouts/ffBase.njk
customcss: "/assets/css/ffxiv/ffxiv-gil.css"
permalink: /shrines/finalfantasyxiv/gil/
intro: |
  <p>
    A little shrine to my current Gil total in FFXIV! This will keep track of how much Gil I have over time, and maybe even show some fun stats about my spending habits in the future. I update this manually via Teamcraft, so it’s a nice moment to reflect on my in-game financial journey whenever I log a new entry.
  </p>
---