---
title: "FFXIV Glamours"
layout: /layouts/ffBase.njk
customcss: "/assets/css/ffxiv/ffxiv-glam.css"
permalink: /shrines/finalfantasyxiv/glams/
intro: |
  <p>
    A little shrine to my current glamour collection in FFXIV! This page is a work in progress, but my hope is to eventually have a nice visual catalog of all the glamours I’ve collected in the game, along with some fun stats about my fashion journey in Eorzea. For now it’s just a cute little page with some of my favorite glamours and outfits ♡
  </p>
---