---
title: "FFXIV Housing"
layout: /layouts/ffBase.njk
customcss: "/assets/css/ffxiv/ffxiv-housing.css"
permalink: /shrines/finalfantasyxiv/housing/
intro: |
  <p>
    A little shrine to my current housing progress in FFXIV! This page is for my personal tracking of my housing journey in the game, including what properties I currently own, any renovations or decorations I've done, and maybe even some fun stats about my housing adventures in Eorzea. It's a work in progress, but I'm excited to have a dedicated space to document this aspect of my FFXIV experience ♡
  </p>
---