<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
     {% if customcss %}
        <link rel="stylesheet" href="{{ customcss }}">
    {% endif %}
</head>
<body>
  {{ content | safe }}
  <script src="/_scripts/status.js"></script>
  <script src="/assets/js/lastfm-nowplaying.js"></script>
</body>
</html>