<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title or "Blog" }}</title>
  <link rel="stylesheet" href="/assets/css/blog.css">
</head>
<body>
  <header class="blog-header">
    <a href="/blog/">
      <img src="/assets/imgs/graphics/blog.gif" alt="Blog" class="blog-title-img">
    </a>
  </header>

  <div class="blog-layout">
    <main class="blog-main">
      {{ content | safe }}
    </main>

    <aside class="blog-sidebar">
      <h3>Archives
        <img src="/assets/imgs/graphics/syringe.gif" alt="Icon" class="heading-icon">
      </h3>
      <ul>
        {% for y in collections.years %}
          <li><a href="/blog/archive/{{ y }}/">{{ y }}</a></li>
        {% endfor %}
      </ul>
    </aside>
  </div>

  <footer>
    <p>return <a href="/">home.</a></p>
  </footer>
</body>
</html>
