---
layout: layouts/gamesBase.njk
title: "Game Collection"
customcss: '/assets/css/games.css'
permalink: /games/
---


<h1>🎮 My Game Collection</h1>

{% for group in games %}
  <h2><a href="/interests/games/{{ group.slug }}/">{{ group.platform }}</a></h2>
  <div class="games-grid">
    {% for game in group.games %}
      <div class="game-card">
        <img src="{{ game.Image }}" alt="{{ game.Title }}">
        <h3>{{ game.Title }}</h3>
        <p class="meta">{{ game.Publisher }}</p>
      </div>
    {% endfor %}
  </div>
{% endfor %}