---
title: Game Collection
layout: base.njk
customcss: '/assets/css/games.css'
permalink: /games/
---
  <div class="main-container">
    <img src="/assets/imgs/graphics/froggys.gif" class="headerImg" alt="Header">
    <div class="crtBorder">
      <img src="/assets/imgs/graphics/links.png" alt="Froggy's Logo" class="linksLogo">
      <div class="crtScreen">
        <div class="crt">
          <a href="/games/ds/">(3)ds</a>
          <a href="/games/switch/">switch</a>
          <a href="/games/vita/">ps vita</a>
          <a href="/games/pstwothree/">ps 2 to 3</a>
          <a href="/games/psfourfive/">ps 4 to 5</a>
          <a href="/games/misc/">misc</a>
        </div>
      </div>
      <img src="/assets/imgs/graphics/some_file.png" class="tv-frame" alt="CRT TV Frame">
    </div>
  </div>