---
pagination:
  data: rawgOwned.platforms
  size: 1
  alias: platform
permalink: "interests/games/{{ platform.slug }}/index.html"
layout: layouts/gamesBase.njk
---

<h1>🎮 {{ platform.platform }} Games</h1>

<div class="games-grid">
  {% for game in platform.games %}
    <div class="game-card" data-tooltip="{{ game.title }}">
      <img
        src="{{ game.image or '/assets/imgs/frog-placeholder.png' }}"
        alt="{{ game.title }}"
        loading="lazy"
      >
      <h3>{{ game.title }}</h3>
    </div>
  {% endfor %}
</div>


<div class="platform-footer">
  <a class="platform-back" href="/games/">⬅ back to all platforms</a>

  <div class="platform-attrib">
    <a href="{{ rawgOwned.rawgAttribution.url }}" target="_blank" rel="noopener">
      {{ rawgOwned.rawgAttribution.label }}
    </a>
  </div>
</div>

