---
layout: blogBase.njk
title: "Blog Archive"
permalink: "/blog/archive/index.html"
---

<h1>Blog Archive
  <img src="/assets/imgs/graphics/syringe.gif" alt="Icon" class="heading-icon">
</h1>

<ul class="archive-year-list">
  {% for year, posts in postsByYear %}
    <li>
      <a href="/blog/archive/{{ year }}/">{{ year }}</a>
      <span class="count">({{ posts | length }})</span>
    </li>
  {% endfor %}
</ul>

<p class="back-link"><a href="/blog/">← Back to Blog</a></p>
