---
layout: blogBase.njk
title: "Blog Archive"
permalink: "/blog/archive/index.html"
---

<h1>Blog Archive
  <img src="/assets/imgs/graphics/syringe.gif" alt="Icon" class="heading-icon">
</h1>

{% if collections.years %}
  <ul>
    {% for y in collections.years %}
      <li>
        <a href="/blog/archive/{{ y }}/">{{ y }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts found.</p>
{% endif %}

<p class="back-link"><a href="/blog/">← Back to Blog</a></p>
