---
layout: blogBase.njk
title: "Blog"
permalink: /blog/index.html
---

<h2>Latest Posts
  <img src="/assets/imgs/graphics/syringe.gif" alt="Icon" class="heading-icon">
</h2>

<ul class="post-list">
{% for post in posts %}
  <li>
    <a href="/blog/{{ post.year }}/{{ post.slug }}/">{{ post.title }}</a>
    {% if post.createdAt %}
      <small>{{ post.createdAt | readableDate }}</small>
    {% endif %}
  </li>
{% endfor %}
</ul>

<div class="archive-link">
  <a href="/blog/archive/" class="archive-button">🩸 View Full Archive</a>
</div>

<footer>
  <p>return <a href="/">home.</a></p>
</footer>
