---
layout: blogBase.njk
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "/blog/{{ post.date | date('yyyy') }}/{{ post.fileSlug }}/index.html"
---


<article class="post">
  <h1>{{ post.data.title }}</h1>
  {% if post.date %}
    <p class="date">{{ post.date | readableDate }}</p>
  {% endif %}
  <div class="content">
    {{ post.templateContent | safe }}
  </div>
</article>

<p class="back-link"><a href="/blog/">← Back to Blog</a></p>
