body {
  background: url('../../../imgs/bg/stars 2.gif');
  color: white;
}
.title {
  border: 15px solid;
  background: rgba(0,0,0,0.5);
  border-radius: 15px;
  width: 600px;
  height: 90px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.desc {
  border: 10px solid;
  background: rgba(0,0,0,0.5);
  border-radius: 15px;
  width: 500px;
  height: 90px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.cdrow {
  border: none;
  width: 1050px;
  height: 150px;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
.cd {
  border: none;
  width: 145px;
  height: 125px;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  transition: transform 0s ease-in-out;
}
.cd:hover {
  transform: rotate(5deg);
}
.cddescs {
  border: 10px solid;
  background: rgba(0,0,0,0.5);
  border-radius: 15px;
  width: 600px;
  height: 307px;
  margin: auto;
  margin-top: 15px;
}
.cdtitle {
  border: none;
  width: 321px;
  height: 285px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
.description {
  border: none;
  width: 243px;
  height: 285px;
  position: absolute;
  margin-top: 10px;
  margin-left: 345px;
  overflow: auto;
}
h1 {
  font-size: 25px;
}
a {
  color: cyan;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(115, 201, 154, 0.8); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgba(12, 107, 107, 0.806); /* Add a dark-grey background on hover */
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}