---
title: TheOnlyFrogs
layout: base.njk
customcss: '/assets/css/style.css'
---

<div id="container">

<div id="box">

<div id="header"><h1>TheOnlyFrogs</h1></div>

<div id="side">

<div class="sidebox">

<div class="subheader"><h3>Webmaster</h3></div>

<div class="sidecontent">

<!-- LINK BOX 1 -->

<ul>
<li><a href="/pages/aboutme.html">⊳ about me</a></li>
<img src="https://file.garden/Z-MKjN_jtlFpOvgR/frogumbrella.png" style="width:100%;" />
<li><a href="/blog/">⊳ (WIP Blog)</a></li>
</ul>


<!-- END LINK BOX 1 -->

</div>
</div>

<div class="sidebox">

<div class="subheader"><h3>Navigation</h3></div>

<div class="sidecontent">

<!-- LINK BOX 2 -->

<ul>
<li><a href="/pages/sitemap.html">⊳ sitemap</a></li>
<li><a href="/interests/shrines/index.html">⊳ shrines</a></li>
<li><a href="https://linktr.ee/violetfulton">⊳ linktree</a></li>
<li><a href="https://virtualviolet.space/">⊳ other website</a></li>
</ul>

<!-- END LINK BOX 2 -->

</div>
</div>

<div class="sidebox">

<div class="subheader"><h3>Marquee</h3></div>

<div class="sidecontent" id="scrollcontainer">

<div id="scrolly">

<!-- SCROLLBOX CONTENT -->

<p id="scrollyheader">Interests</p>
<div id="scrollycontent" style="padding:5px;">

<img src="https://file.garden/Z-MKjN_jtlFpOvgR/theonlyfrogs/marquee/under%20construction%207.gif" style="width:100%;" />

<img src="https://file.garden/Z-MKjN_jtlFpOvgR/theonlyfrogs/marquee/ilovefrogs.gif" style="width:100%;" />

<img src="https://file.garden/Z-MKjN_jtlFpOvgR/theonlyfrogs/marquee/d13.gif" style="width:100%;" />
<img src="https://file.garden/Z-MKjN_jtlFpOvgR/theonlyfrogs/marquee/shb.gif" style="width:100%;" />

<!-- END SCROLLBOX CONTENT -->

</div>

</div>

</div>

</div>

</div>

<div id="main">

<div class="mainboxes">

<div class="subheader"><h3>Welcome</h3></div>

<div class="mainboxescontent">

<!-- CONTENT BELOW -->

<p style="clear:right;"> Hey I'm Froggy. Welcome to TheOnlyFrogs. <br><br>
I'm really excited to show you around and enjoy snapshots of my special interests and collections.
I'm a bit of a nerd and I love to collect things.
<br>
I'm a longtime fan of Animal Crossing and FFXIV. I'm also a massive collector and enjoy trying to complete my PS Vita, 3DS and PS3-5 libraries. <br>
Although we are in the digital age I've increasingly found I want a physical copy of the things I love the most. So on the site you'll be able to see my collections of videos and music. <br>
My favourite film is The Iron Giant. My favourite tv show includes Avatar the Last Airbender, South Park and Bones. <br>
Music is also a big passion.
My favourite bands include MCR, Tenacious D and The Smiths. I was an early fan of Ashnikko and yes I do love a singalong to a Disney movie.
So come on in sit down on my lily pad and let's get croaking.

</p>

<!-- END CONTENT -->

</div>

</div>

<div class="mainboxes">

<div class="subheader"><h3>Hyperfocus of the Week</h3></div>

<div class="mainboxescontent">

<!-- CONTENT BELOW -->

<p style="clear:left;">

    {# Below is a text file detailing my current and past hyperfocuses. It is updated weekly with new information. You can also view it in an <a href="/pages/hyperfocus.html">easier to read format here</a>.
    #}
  Changing this section, check back later!

</p>



<p style="clear:left";></p>

<!-- END CONTENT -->

</div>

</div>

</div>


<div id="footer"><p>im feeling <a href="https://www.imood.com/users/onlyfrogs"><img src="https://moods.imood.com/display/uname-onlyfrogs/fg-FFFFFF/trans-1/imood.gif" alt="The current mood of onlyfrogs at www.imood.com" border="0"></a></div>

</div>

</div>