---
permalink: /shrines/animalcrossing/100/diary/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; url=/shrines/animalcrossing/newleaf/diary/">
<link rel="canonical" href="/shrines/animalcrossing/newleaf/diary/">
<title>Moved: New Leaf Diary</title>
<p>This page moved to the <a href="/shrines/animalcrossing/newleaf/diary/">New Leaf diary</a>.</p>
