---
permalink: /shrines/animalcrossing/100/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; url=/shrines/animalcrossing/newleaf/">
<link rel="canonical" href="/shrines/animalcrossing/newleaf/">
<title>Moved: New Leaf 100%</title>
<p>This page moved to <a href="/shrines/animalcrossing/newleaf/">New Leaf 100%</a>.</p>
