---
pagination:
  data: collections.years     # use the years collection we already created
  size: 1
  alias: year
permalink: "/blog/archive/{{ year }}/index.html"
layout: blogBase.njk
---

<h1>Archive for {{ year }}</h1>

<ul>
{% for post in posts | selectattr("year", "equalto", year) %}
  <li>
    <a href="/blog/{{ post.year }}/{{ post.slug }}/">{{ post.title }}</a>
    {% if post.createdAt %}
      <small>{{ post.createdAt | readableDate }}</small>
    {% endif %}
  </li>
{% endfor %}
</ul>

<p><a href="/blog/archive/">← Back to Archive</a></p>

