---
pagination:
  data: collections.years      # list of all years from our custom collection
  size: 1                      # build one page per year
  alias: year                  # expose the current year as the variable “year”
permalink: "blog/archive/{{ year }}/index.html"
layout: blogBase.njk
---

<h1>Posts from {{ year }}<img src="/assets/imgs/graphics/syringe.gif" alt="Icon" class="heading-icon"></h1>

<ul>
{% for post in collections.postsByYear[year] %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% if post.date | daysOld <= 7 %}
      <span class="new-tag">New</span>
    {% endif %}
    – {{ post.date | readableDate }}
  </li>
{% endfor %}
</ul>
