---
pagination:
  data: collections.years
  size: 1
  alias: year
permalink: "/blog/archive/{{ year }}/index.html"
layout: blogBase.njk
---

<h1>Posts from {{ year }}
  <img src="/assets/imgs/graphics/syringe.gif" alt="Icon" class="heading-icon">
</h1>

<ul>
  {% for post in collections.postsByYear[year] %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      – {{ post.date | readableDate }}
    </li>
  {% endfor %}
</ul>

<p><a href="/blog/archive/">← Back to Archive</a></p>
