:root{
    --bg:#FBFBF8;
    --border:#7A776B;
    --border-radius:15px;
    --border-size:20px;
  }
  
  @font-face{
    font-family:"Rodin";
    src: url("FOT-Rodin Pro DB.otf") format("opentype");
  }
  
  a:visited, a:link{
      color:black;
  }
  
  body{
    /* background-image:url("square5.png"); */
    /* background-repeat:no-repeat;
    background-size:100%; */
    background-color:#4184B9;
    /* background-color:#106220; */
    background-color:#0066BB;

    background-image:url("assets/pokedex/pokedexbgstripe.png");
  
  
  
    font-family:Yu Gothic UI;
    font-size:14px;
  
    overflow:hidden;
  
  }
  
  #fix{
    border:1px solid transparent;
  }
  
  .border1{
  
    background-image:url(woodborder.png);
    margin:150px auto 100px auto;
    height:945px; width:850px;
    box-sizing:border-box;
    padding:22px 24px;
    position:relative;
    z-index:3;
    border-radius:var(--border-radius);
  }
  
  .borderbase{
    border-radius:var(--border-radius);
    height:900px;
  }
  
  .leavesturn{
    transition:all 1s;
    transform:rotateZ(-15deg);
  }
  
  .leavesturn:hover{
    transform:rotate(20deg);
    margin-left:-80px;
  }
  
  .pkmnflex{
    border:0px solid black;
    width:210px;
    height:140px;
    display:flex;
    flex-wrap:wrap;
    margin-left:0px;
    margin-top:6px;
  }
  
  .pkmnflex > img{
    height:56px;
    width:68px;
  }
  
  .pkmnbox{
    background-image:url(Box_River_VII.png);
    width:208px;
    height:192px;
    margin-top:0px;
    margin-left:0px;
    border:0px solid;
  }
  
  .pkmnselector{
    padding-right:5px;
    margin-left:42px;
    margin-top:12px;
    border:0px solid;
    background-color:transparent;
    color:;
  }
  
    /* width */
  .blog::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Handle */
  .blog::-webkit-scrollbar-thumb {
    background: #6DF1AF;
  }
  
  /* Handle on hover */
  .blog::-webkit-scrollbar-thumb:hover {
    background: #A7F1E0;
  }
  
  .playerbuttons{
    position:absolute;
    left:354px;
    cursor:pointer;
    z-index:99;
  }
  
  .something1{
    width:50px;
    height:50px;
  }
  
  
  table, .infotable{
      border-spacing:0px;
      padding-left:3px;
      box-sizing:border-box;
  }
  
  .infotable > td{
    border-bottom:2px dashed #FF463D;
    border-bottom:1px solid transparent;
  }
  
  
  
  .category{
      background-color:#127523;
      color:#6CFF65;
      width:60px;
      box-sizing:border-box;
      padding-left:2px;
  }
  
  .category2{
    background-color:#106220;
  }
  
  .stat{
      background-color:#D1FA97;
      color:black;
      width:99px;
      text-align:left;
      padding-right:4px;
      box-sizing:border-box;
      padding-left:2px;
     
  }
  
  .stat2{
      background-color:#B5F752;
  }
  
  .Move{
    border:2px solid hotpink;
    background-color:pink;
    width:120px;
    height:48px;
    border-radius:7px 0px;
    font-weight:bold;
    box-sizing:border-box;
    padding:4px 0px 0px 8px;
    text-align:;
    margin-left:6px;
    margin-top:5px;
  
    box-shadow:inset -4px -4px rgba(255, 255, 255, 0.5);
  }
  
  #nickname{
    font-size:14px; color:white;
    width:106px;
    background-color:;
  }
  
  #nickname > img{
    float:right; margin-top:5px;
  }
  
  #pokedex{
    position:absolute;
    border:0px solid black;
    width:320px;
    height:240px;
    margin-left:-8px;
    margin-top:-8px;
    z-index:10;
    display:block;
  }
  
  .spritestable{
    border:0px dashed black;
    box-sizing:border-box;
    width:240px;
    margin:auto;
    margin-top:20px;
  
    background-color:;
    position:absolute;
    top:25px;
    box-sizing:border-box;
    border:0px solid lime;
    left:10px;
    padding-left:0px;
  
  }
  
  .spritesrow > td{
    border:0px solid lime;
    width:40px;
    max-width:40px; height:35px;
    position:relative;
    left:0px;
    
  }
  
  .spritesrow > td > img{
    cursor:pointer;
    position:absolute;
    top:-18px; left:-14px;
    background-color:;
    clip-path: inset(18px 12px 0px 10px);
  }
  
  .spritesrow > td > img:hover{
    top:-19px;
  }
  
  .row2 > td > img{
    clip-path: inset(14px 0px 0px 0px);
  }
  
  .shinystar{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color:red;
    width:13px;
    height:13px;
  }
  
  .button{
    cursor:pointer;
  }
  
  .button:hover{
    filter: brightness(93%);
  }
  
  .button:active{
    filter: brightness(105%);
  }
  
  @keyframes spin{
    0%  {transform:rotateZ(360deg)}
    100%  {transform:rotateZ(0deg)}
  }
  
  .spin{
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }
  
  @keyframes arrow{
    0%  {margin-top:0px;}
    100%  {margin-top:1px;}
  }
  
  .arrow{
    animation-name: arrow;
    animation-duration: 0.5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-direction:alternate;
  }

  /* .ribbon{
    position:absolute;
    top:556px;
    right:43px;
    display:none;
  } UNUSED OLD */

  #ribbon{
    position:absolute;
    top:56px;
    right:43px;
    width:20px;
    height:20px;
    display:block;
  }
  
  .ribbon >img{
    width:20px; height:20px;
  }
  
    width
    ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BBBBAA;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #EEE6E6;
  }
  
  #movelist{
    background-color:;
    width:150px;
    height:190px;
    display:flex;
    flex-direction:column;
    margin-top:0px;
  }
  
  #infotabs{
    background-color:;
    width:160px;
    height:100%;
    position:absolute;
    left:0px;
    top:px;
    display:;
  }
  
  .pokeball_list{
    background-color:;
    width:42px;
    height:180px;
    position:absolute;
    top:0px;
    right:0px;
    box-sizing:border-box;
    padding-left:0px;
    padding-top:1px;
    z-index:92;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  .pokeball{
    /* background-color:rgba(255, 68, 68, 0.212); */
    margin-bottom:0px;
    width:24px;
    height:24px;
    padding:5px 10px 0px 10px;
    cursor:pointer;
    position:relative;
    z-index:99;
  }

  .pokeball:hover{
    position:relative;
    top:-1px;
  }
  
  .pokeball_list > img {
    margin-bottom:px;
  }
  
  .pokeball_list::-webkit-scrollbar { 
      display: none;
  }
  
  .balldiv{
    background-color:;
    padding:5px 10px 0px 10px;
    margin-bottom:0px;
    height:24px;
    width:24px;
  
  
  }
  
  
  .pcboxarrow{
    position:absolute;
    top:14px;
    height:22px;
    cursor:pointer;
  }
  
  .pcboxarrow:active{
  filter: brightness(93%);
  }

  /* Pokemon's 3D model */
  #pokemon3D{
    position:absolute;
    width:110px;
    height:110px;
    background-color:;
  }

  /* Pokemon's Level */
  #lvl{
    position:absolute;
    top:55px;
    left:179px;
    z-index:1;
    font-family:MS Gothic;
    font-weight:bold;
    color:white;
    text-shadow:1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }

  #infobutton{
    position:absolute;
    right:53px;
    top:0px;
    z-index:999;
    cursor:pointer;
    transform:rotateY(180deg);
  }

  #movesbutton{
    position:absolute;
    right:103px;
    top:0px;
    z-index:999;
    cursor:pointer;
    transform:rotateY(180deg);
  }


  /* MOVE INFO */

  .move_container{
    position:relative;
    width:158px;
    height:48px;
    background-color:;
    color:white;
    font-weight:;
  }
  
  .move_border{
    position:absolute;
    width:158px;
    height:49px;
    clip-path: polygon(0% 0%, 90% 0%, 99% 45%, 99% 55%, 90% 100%, 0% 100%);
  }
  
  .move_line{
    position:absolute;
    top:2px;
    background-color:black;
    width:155px;
    height:44px;
    clip-path: polygon(0% 0%, 90% 0%, 99% 45%, 99% 55%, 90% 100%, 0% 100%);
  }
  
  .move_main{
    position:absolute;
    top:4px;
    background-color:;
    width:152px;
    height:40px;
    clip-path: polygon(0% 0%, 91% 0%, 99% 45%, 99% 55%, 91% 100%, 0% 100%)
  }
  
  .move_accent{
    /* position:absolute;
    top:4px;
    background-color:;
    width:138px;
    height:40px;
    clip-path:inset(10px 0px 0px 0px); */
  
    position:absolute;
    top:4px;
    background-color:;
    width:138px;
    height:40px;
    clip-path:inset(10px 0px 0px 0px);
  
    height:32px; width:151px; margin-top:8px; clip-path:inset(0px);
  
    clip-path: polygon(11.01% 3%, 18.62% 3%, 26.36% 5.49%, 33.85% 10.86%, 40.6% 22.91%, 48.25% 37.55%, 56.84% 46.64%, 66% 51.53%, 88.11% 51.53%, 100% 35.64%, 100% 45%, 96.5% 67.82%, 92% 100%, 0% 100%, 0% 7.29%, 5.33% 5.49%);
    
  }
  
  .move_name{
    position:absolute;
    top:4px;
    right:20px;
    font-size:15px;
  }
  
  .move_type{
    position:absolute;
    right:15px;
    bottom:0px;
  }
  
  
  
    .wave {
    --mask:
      radial-gradient(71.55px at 50% calc(1% - 56.00px),#000 99%,#0000 101%) calc(50% - 64px) 0/128px 100%,
      radial-gradient(71.55px at 50% calc(100% + 64.00px),#0000 99%,#000 101%) 50% calc(100% - 32px)/128px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

  /* MOVE INFO OVER */

.boxcontainer{
    border:0px solid lime;
    box-sizing:border-box;
    width:242px;
    /* height:240px; */
    position:absolute;
    top:45px;
    left:8px;
    z-index:90;
    padding-left:2px;
    display:flex;
    flex-wrap:wrap;
}

 .boxcontainer > img{
    margin-right:-19px;
    margin-left:-13px;
    margin-top:-20px;
    background-color:;
    /* clip-path: inset(18px 12px 0px 10px); */
 }

 /* .boxcontainer > img:hover{
    margin-top:-19px;
 } */

.boxentry{
    border:0px solid hotpink;
    background-color:;
    width:40px;
    height:38px;
    box-sizing:border-box;
    display:;
    cursor:pointer;
    margin-bottom:0px;
    /* clip-path:inset(0px); */
}

.boxicon{
    margin-top:-18px;
    margin-left:-14px;
    background-color:;
    pointer-events:none;
}

.boxentry:hover{
    margin-top:-1px;
}

#ballcursornew{
    position:absolute;
    z-index:91;
    display:;
    pointer-events:none;
    left:3px;
    /* top:-1px; */
}


.ribbonmenu::-webkit-scrollbar {
  width: 4px;
  
}

/* Handle */
.ribbonmenu::-webkit-scrollbar-thumb {
  /* background: #6DF1AF; */
  background: #3f8045;
  border-radius:20px;
}

/* Handle on hover */
.ribbonmenu::-webkit-scrollbar-thumb:hover {
  /* background: #A7F1E0; */
}

@keyframes ribbonmenupopout{
  0%  {left:-164px}
  100%  {left:0px}
}

@keyframes tabanim{
  0%  {left:-164px}
  100%  {left:0px}
}

#slideclass{
  /* animation-name: ribbonmenupopout;
  animation-duration: 0.2s;
  animation-iteration-count:1;
  animation-timing-function:forwards;
  animation-direction:forwards */

  animation: ribbonmenupopout 0.25s ease-in-out 0s 1 normal forwards
}

img{
  -webkit-user-drag: none;
}