---
title: "Pokémon Collection"
layout: layouts/pokeBase.njk
customcss: '/assets/css/pokemon.css'
permalink: /shrines/pokemon/collection/
---
<header>
  <h1>Pokémon Collection</h1>
  <p>A showcase of my beloved Pokémon!</p>
</header>
<main>
  <section class="collection-section">
    <div class="collection-entry">
      <h2>My Favorite Pokémon</h2>
      <ul class="favorite-list">
        <li>Bulbasaur</li>
        <li>Froakie</li>
        <li>Cubone</li>
        <li>Trubbish</li>
      </ul>
    </div>
    <div class="collection-entry">
      <h2>Legendary Pokémon</h2>
      <ul class="legendary-list">
        <li>Articuno</li>
        <li>Zapdos</li>
        <li>Moltres</li>
        <li>Mewtwo</li>
        <li>Lugia</li>
      </ul>
    </div>
  </section>


<div style="width:324px; height:264px; text-align:left;">
  <iframe src="/interests/shrines/pokemon/9bnfuu/pokedexwidget.html" style="border:2px solid #106220; width:320px; height:240px;"></iframe>
</div>
</main>
<footer>
  <p>Here's to many more adventures in the world of Pokémon!</p>
</footer>
