---
title: "Hall of Fame"
layout: layouts/pokeBase.njk
customcss: '/assets/css/pokemon.css'
permalink: /shrines/pokemon/hof/
---
<header>
  <h1>Hall of Fame</h1>
  <p>Celebrating my journey to becoming a Pokémon Master!</p>
</header>
<main>
  <section class="hof-section">
    <div class="hof-entry">
      <h2>Pokémon League Champions</h2>
      <ul class="champion-list">
        <li>Red - Pokémon Red/Blue/Yellow</li>
        <li>Blue - Pokémon Gold/Silver/Crystal</li>
        <li>Lance - Pokémon FireRed/LeafGreen</li>
        <li>Steven - Pokémon Ruby/Sapphire/Emerald</li>
        <li>Cynthia - Pokémon Diamond/Pearl/Platinum</li>
        <li>Alder - Pokémon Black/White</li>
        <li>Iris - Pokémon Black 2/White 2</li>
        <li>Wulfric - Pokémon X/Y</li>
        <li>Olivia - Pokémon Sun/Moon</li>
        <li>Leon - Pokémon Sword/Shield</li>
      </ul>
    </div>
    <div class="hof-entry">
      <h2>Notable Achievements</h2>
      <ul class="achievement-list">
        <li>Example achievos: </li>
        <li>Completed the Pokédex in Pokémon Yellow</li>
        <li>Defeated the Elite Four in Pokémon Gold</li>
        <li>Won the Battle Tower in Pokémon Emerald</li>
        <li>Achieved Master Rank in Pokémon Sword</li>
      </ul>
    </div>
  </section>
</main>

<footer>
  <p>Here's to many more adventures in the world of Pokémon!</p>
</footer>

