<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title or "Violet's PokéNav" }} | TheOnlyFrogs</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    rel="stylesheet"
  >

  <link
    rel="stylesheet"
    href="/assets/css/shrines/pokemon/pokemon-v2.css"
  >

  {% if customcss %}
    {% if customcss | length and (customcss is not string) %}
      {% for href in customcss %}
        {% if href != "/assets/css/shrines/pokemon/pokemon-v2.css" %}
          <link rel="stylesheet" href="{{ href }}">
        {% endif %}
      {% endfor %}
    {% else %}
      {% if customcss != "/assets/css/shrines/pokemon/pokemon-v2.css" %}
        <link rel="stylesheet" href="{{ customcss }}">
      {% endif %}
    {% endif %}
  {% endif %}
</head>

<body>

  {{ content | safe }}

</body>
</html>