<nav class="acnh-nav" aria-label="New Horizons navigation">
  <a href="/shrines/animalcrossing/newhorizons/">🏝 Home</a>
  <a href="/shrines/animalcrossing/newhorizons/residents/">🐸 Residents</a>
  <a href="/shrines/animalcrossing/newhorizons/museum/">🏛 Museum</a>
  <a href="/shrines/animalcrossing/newhorizons/diary/">📖 Diary</a>
  <a href="/shrines/animalcrossing/newhorizons/island-tour/">🏡 Island Tour</a>
  <a href="/shrines/animalcrossing/">↩ Animal Crossing</a>
</nav>
