---
title: Animal Crossing Shrine
layout: base.njk
customcss: '/assets/css/animalcrossing.css'
permalink: /shrines/animalcrossing/
---
  <header>
    <h1>Animal Crossing Shrine</h1>
    <p>Celebrating the cozy world of Animal Crossing and its beloved villagers!</p>
  </header>
  <main>
  </main>