---
title: Final Fantasy Shrine
layout: base.njk
customcss: '/assets/css/ff.css'
permalink: /shrines/finalfantasy/
---

<header>
  <h1>Final Fantasy Shrine</h1>
  <p>Celebrating the epic world of Final Fantasy and its unforgettable characters!</p>
</header>
<main>
  <section class="games-grid">
    <div class="game-card">
      <img src="/assets/imgs/graphics/ffarr.jpg" alt="Game: Final Fantasy XIV" class="game-image">
      <h2>Final Fantasy XIV</h2>
      <p>The popular MMORPG that continues to expand its world and story with regular updates.</p>
    </div>
  </section>
</main>