---
title: Shrines
layout: base.njk
customcss: '/assets/css/shrine.css'
---
  <div class="title">
    <img src="/assets/imgs/graphics/shrinetitle.png" width="600px" alt="Shrine Title">
  </div>


  <div class="boxholder">
  <div class="tinyholder" id="music">
    <h1>music</h1>
      <div class="boxholder-inner">
    <div class="box">
      <a href="/interests/cds/index.html"><img src="/assets/imgs/graphics/cd 12.gif" height="75px"></a>
      <p>cds page</p>
    </div><br>
    <div class="box">
      <a href="/interests/shrines/mcr.html"><img src="/assets/imgs/graphics/emailpop2.gif" height="75px"></a>
      <p>mcr</p>
      </div>
    </div>
    </div>

    <div class="tinyholder" id="dvds">
    <h1>dvds</h1>
     <div class="boxholder-inner"><div class="box">
      <a href="/interests/dvds/index.html">
      <img src="/assets/imgs/graphics/tv_by_subtlymeloncholy_on_tumblr.gif" height="75px"></a>
      <p>dvd collection</p>
    </div>
    </div></div>

    <div class="tinyholder" id="games">
    <h1>games</h1>
     <div class="boxholder-inner">
    <div class="box">
      <a href="/interests/games/index.html">
      <img src="/assets/imgs/graphics/gba.png" height="75px"></a>
      <p>games collection</p>
    </div>
    <div class="box">
      <a href="/interests/shrines/ac.html">
      <img src="/assets/imgs/graphics/animal-crossing-leif.gif" height="75px"></a>
      <p>animal crossing shrine</p>
  </div>
    </div>
    </div>