---
title: MCR Shrine
layout: base.njk
customcss: '/assets/css/mcr.css'
permalink: /shrines/mcr/
---
<header>
  <div class="header">
      <a href="#"><img style="width: 100%" src="/assets/imgs/graphics/mcrtitle.png"></a>
    </div>
      <a href="/"><img style="width: 20%" src="/assets/imgs/graphics/MCRHOME.png"></a>
      <a href="/shrines/"><img style="width: 20%" src="/assets/imgs/graphics/MCRBK.png"></a>
</header>

<div class="row">
<div class="column" id="left">
<div class="ipod">
<div class="screen">
<b> placeholder </b>
<audio id="myAudio" controls>
  <source id="audioSource" src="" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<div class="album">
  <img src="/assets/imgs/graphics/mcr.jpg" alt="MCR Album Cover" width="85px">
</div>
</div>
<div class="button">
  <div class="b b-top" id="playButton">▶</div>
  <div class="b b-left"
  id="backButton">⏮︎</div>
  <div class="b b-right" id="nextButton">⏭︎</div>
  <div class="b b-bottom" id="pauseButton">❚❚</div>
  <div class="button"> </div></div>
</div>
</div>

<div class="column" id="right">
  <h2>My Chemical Romance</h2>
  <p>My Chemical Romance (often abbreviated as MCR) is an American rock band formed in 2001. They are known for their theatrical style and emotional lyrics.</p>
  <h3>Popular Albums</h3>
  <ul>
    <li>The Black Parade</li>
    <li>Three Cheers for Sweet Revenge</li>
    <li>Danger Days: The True Lives of the Fabulous Killjoys</li>
  </ul>
  <h3>Favorite Songs</h3>
  <ul>
    <li>Welcome to the Black Parade</li>
    <li>Helena</li>
    <li>I Don't Love You</li>
  </ul>
  <br>
  <img src="/assets/imgs/graphics/under construction 7.gif" alt="Under Construction" width="150px">
  <p>More content coming soon!</p>
</div>
</div>
<!-- <input type="button" value="shuffle" onclick="generateMusic()" />
<input type="button" value="play/pause" onclick="togglePlay()"/> -->
<script src="/assets/js/mcraudio.js"></script>