---
title: Curation of Now
layout: base.njk
customcss: '/assets/css/now.css'
permalink: /interests/now/
---

<header class="page-header">
  <img src="/assets/imgs/graphics/currently.png" alt="Header Image" class="header-image">
  <p class="header-subtitle">A curation of what I'm currently listening to, playing, and watching.</p>
  <small class="header-note">return <a href="/">home</a></small>
</header>

<section class="activity-section">
  {% include "partials/lastfmWidget.njk" %}
  {% include "partials/steamWidget.njk" %}
  {% include "partials/psnWidget.njk" %}
  {% include "partials/letterboxdWidget.njk" %}
  {% include "partials/malWidget.njk" %}
</section>
