---
permalink: /movies/
layout: false
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta http-equiv="refresh" content="0; url=/interests/now/#watching">
  <link rel="canonical" href="/interests/now/#watching">
  <title>Movies moved to Currently</title>
</head>
<body>
  <p>Movie Night lives on my <a href="/interests/now/#watching">Currently page</a> now.</p>
</body>
</html>
