---
title: About Me
layout: base.njk
customcss: '/assets/css/style.css'
---
  <body><h1>About Frogs!</h1>

    <p>I'm Frogs, Froggy, Violet etcetc. My legal name is Violet, but since I'm obsessed with frogs everyone calls me Frogs!</p>

    <p>I'm 25 years old, using she/her pronouns. This is me!</p>
    <div class="frogjk"><img src="https://file.garden/Z-MKjN_jtlFpOvgR/theonlyfrogs/me_jk.jpeg"></div>
    <p>just kidding, I wish I could rock that dress!</p>
    <br>
    <p>instead, i look like dis D:</p>
    <div class="actual"><img src="https://file.garden/Z-MKjN_jtlFpOvgR/theonlyfrogs/me.jpeg"></div>
    <p>i have a lot of health issues (physical and mental) so i can be pretty down on myself on how i look. its important i show myself compassion and not
    let the demons win (can u tell im obsessed with kpop demon hunters)</p>

    <p>Some diagnoses that I feel are important to learn about me:</p>

    <ul>
      <li>Mental: Autism (17y/o), ADHD (18y/o), OCD (15y/o), and ofc anxiety and depression since i was like 12y/o.</li>
      <li>Physical: Ehlers Danlos Syndrome (11y/o), Reynauds (11y/o), POTS (23y/o), Silent Heart Murmur (15y/o), chronic pain and chronic fatigue since forever.</li>
    </ul>

    <p>please note this is not me bragging, nor attention seeking for my book of medical problems. This is simply a record of my diagnoses up until this point.
    Yes they are important for my wellbeing to be recognised. But at the end of the day, they're just words and labels. Get to know me for me!</p>

    <p>I'm gonna add more but i got tired writing that so this is wip...</p>
    <p>if you want to follow my health journey, i will be posting more stuff about it on my other website <a href="https://virtualviolet.space/">virtualviolet.space</a></p>

