---
title: Hyperfocus Log
layout: base.njk
customcss: '/assets/css/hyperfocus.css'
permalink: /hyperfocus/
---
<h1>Hyperfocus Log</h1>
<div id="entries"><details class="entry1" id="entries">
  <summary>31.08.25 - Animal Crossing: New Leaf</summary>
  <p>My first week of tracking my hyperfocus! The winner goes to animal crossing on the 3ds. been loving watching old playthroughs and starting a new town :D</p>
</details></div>
