---
title: Sitemap
layout: base.njk
customcss: '/assets/css/sitemap.css'
permalink: /sitemap/
---

<h1>Sitemap</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/sitemap/">Sitemap</a></li>
  <li><a href="/aboutme/">About</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/blog/archive/">Blog Archive</a></li>
  <li><a href="/shrines/">Shrines</a></li>

  <p>Specific Shrines</p>
  <li><a href="/shrines/mcr/">My Chemical Romance</a></li>
  <li><a href="/shrines/ashnikko/">Ashnikko</a></li>
  <li><a href="/shrines/animalcrossing/">Animal Crossing</a></li>
  <li><a href="/shrines/finalfantasy/">Final Fantasy</a></li>


  <p> Collections </p>
  <li><a href="/cds/">CDs</a></li>
  <li><a href="/dvds/">DVDs</a></li>
  <li><a href="/games/">Games</a></li>

  <p> Game specific Collections </p>
  <li><a href="/games/vita/">Playstation Vita</a></li>
  <li><a href="/games/psfourfive/">Playstation 4 and 5</a></li>
  <li><a href="/games/pstwothree/">Playstation 2 and 3</a></li>
  <li><a href="/games/ds/">Nintendo 3DS and DS</a></li>
  <li><a href="/games/switch/">Nintendo Switch</a></li>
  <li><a href="/games/misc/">Miscellaneous Games</a></li>
</ul>