---
title: Sitemap
layout: base.njk
customcss: '/assets/css/sitemap.css'
permalink: /sitemap/
---

<div class="sitemap-container">
  <h1 class="sitemap-title">Sitemap</h1>

  <section>
    <h2>Main Pages</h2>
    <ul class="sitemap-list">
      <li><a href="/">Home</a></li>
      <li><a href="/sitemap/">Sitemap</a></li>
      <li><a href="/aboutme/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/blog/archive/">Blog Archive</a></li>
      <li><a href="/shrines/">Shrines</a></li>
    </ul>
  </section>

  <section>
    <h2>Specific Shrines</h2>
    <ul class="sitemap-list">
      <li><a href="/shrines/mcr/">My Chemical Romance</a></li>
      <li><a href="/shrines/ashnikko/">Ashnikko</a></li>
      <li><a href="/shrines/animalcrossing/">Animal Crossing</a></li>
      <li><a href="/shrines/finalfantasy/">Final Fantasy</a></li>
    </ul>
  </section>

  <section>
    <h2>Collections</h2>
    <ul class="sitemap-list">
      <li><a href="/cds/">CDs</a></li>
      <li><a href="/dvds/">DVDs</a></li>
      <li><a href="/games/">Games</a></li>
    </ul>
  </section>

  <section>
    <h2>Game Specific Collections</h2>
    <ul class="sitemap-list">
      <li><a href="/games/vita/">Playstation Vita</a></li>
      <li><a href="/games/psfourfive/">Playstation 4 and 5</a></li>
      <li><a href="/games/pstwothree/">Playstation 2 and 3</a></li>
      <li><a href="/games/ds/">Nintendo 3DS and DS</a></li>
      <li><a href="/games/switch/">Nintendo Switch</a></li>
      <li><a href="/games/misc/">Miscellaneous Games</a></li>
    </ul>
  </section>
</div>