---
layout: base.njk
title: "All Statuses"
permalink: "/pages/statuses/index.html"
customcss: '/assets/css/style.css'
---

<div id="main">
  <div class="mainboxes">
    <div class="subheader">
      <h3>🐸 All Statuses</h3>
    </div>
    <div class="mainboxescontent">
      {% include "status-list.njk" %}
    </div>
  </div>
</div>
