---
title: "Wishlist"
layout: base.njk
customcss: '/assets/css/wishlist.css'
permalink: /wishlist/
---

<h1>📜 Wishlist</h1>
<p>This is a list of items I'm currently wishing for! Will include hyperfocus items that I don't want to forget about.</p>

<div class="wishlist-container">
<section class="wishlist-section">
  <h2>🎵 Music</h2>
  <ul>
    <li>"if" CD by Mindless Self Indulgence</li>
    <li>"Lies for the Liars" CD by The Used</li>
    <li>"The Pinkprint" CD by Nicki Minaj</li>
  </ul>
</section>
<section class="wishlist-section">
  <h2>🎮 Games</h2>
  <ul>
    <li>"Ghosts of Tsushima" for PlayStation 5</li>
    <li>"Ghosts of Yotei" for PlayStation 5</li>
    <li>"Yokai Watch 3" for Nintendo 3DS</li>
  </ul>
</section>
<section class="wishlist-section">
  <h2>📚 Books</h2>
  <ul>
    <li>To be Decided... </li>
  </ul>
</section>
<section class="wishlist-section">
  <h2>🎬 Movies & TV Shows</h2>
  <ul>
    <li>"Dune" Blu-ray Special Edition</li>
    <li>"Pokemon" Series Box Set</li>
    <li>"Barbie" Movie Collection</li>
  </ul>
</section>
<section class="wishlist-section">
  <h2>🛠️ Gadgets & Tech</h2>
  <ul>
    <li>Apple AirPods Max (2nd Generation)</li>
    <li>Kindle Paperwhite</li>
    <li>Pokemon Gold Nintendo 3DS (X&Y special Japan edition)</li>
  </ul>
</section>
<section class="wishlist-section">
  <h2>🧸 Figures & Toys</h2>
  <ul>
    <li>Fruits Basket Figures</li>
    <li>More labubus...</li>
  </ul>
</section>
<section class="wishlist-section">
  <h2>🏠 Home Supplies</h2>
  <ul>
    <li>Speakers for CD Player/new CD Player</li>
    <li>Cabinet for specials (with glass doors)</li>
    <li>Pens, washi and stickers for new 2026 hobonichi</li>
  </ul>
</section>
</div>