<div id="movie-modal" class="modal hidden">
  <div class="modal-content">
    <button class="modal-close">✕</button>
    <img id="modal-img">
    <div class="modal-info">
      <h2 id="modal-title"></h2>

      <p class="meta">
        <span id="modal-year"></span> —
        <span id="modal-runtime"></span> mins
      </p>

      <p class="genres"><strong>Genres:</strong> <span id="modal-genres"></span></p>

      <p class="personal-rating">
        My Rating:
        <span class="rating-stars">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </span>
      </p>

      <p class="watch-status">
        Status: <span id="modal-status"></span>
      </p>

      <p id="modal-overview"></p>
    </div>
  </div>
</div>
