<div class="letterboxd-widget">
  <h3>🎬 Recently Watched</h3>
  <div class="letterboxd-embed-container">
    <iframe
      title="Letterboxd Diary"
      src="https://lb-embed-content.bokonon.dev?username=theonlyfrogs&limit=5"
      frameborder="0"
      scrolling="no"
      loading="lazy"
      allowfullscreen
      style="border:0;"
    ></iframe>
  </div>
</div>
